# AWS credentials — copy to .env and fill in
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=us-east-1

# S3 + Athena config
S3_BUCKET=ecommerce-streaming-raw
ATHENA_DATABASE=ecommerce
ATHENA_OUTPUT_LOCATION=s3://ecommerce-streaming-raw/athena-results/

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
